# Configurações de ambiente para a automação SAP
SAP_USER=
SAP_PASSWD_PRD=
SAP_PASSWD_QAS=

# Ambiente de execução: PRD ou QAS
SAP_ENV=PRD

# Configurações de conexão para os ambientes PRD e QAS
SAP_CONN_NAME_PRD="F04 - SAP Scripting Transpetro PRD"
SAP_CONN_NAME_QAS="TEQ - SAP ECC Transpetro QAS"

# Configurações adicionais
SAP_CLIENT=400
SAP_LANG=PT
# SAP_CACHE_DB define o caminho para o banco de dados de cache (default é ~/.sap_automation/cache.db) 